<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="inputPathForSingleFixedFile" value="C:\Users\Łukasz\Desktop\SDL\C#\FilesForFinalTask\TMS Archive replacer inputs\FixedBilingualFiles\ESE\NL\"/>
    <add key="inputPathForAllFixedFiles" value="C:\Users\Łukasz\Desktop\SDL\C#\FilesForFinalTask\TMS Archive replacer inputs\FixedBilingualFiles\"/>
    <add key="inputFile" value="98223_to_translate_docx.sdlxliff"/>

    <add key="inputPathZipArchive" value="C:\Users\Łukasz\Desktop\SDL\C#\FilesForFinalTask\TMS Archive replacer inputs\ArchiveSample - Kopia\ORG 1\jobs\"/>
    <add key="inputZipArchive" value="4738_Translation into DA 6 doc.zip"/>
    
  </appSettings>
</configuration>